# Ignore kagglecatsanddogs_5340 folder and zip file
Learning/School/Deep Learning/Anaconda/env/deep_learning/Cat-vs-Dog-CNN/tham khao/kagglecatsanddogs_5340/
Learning/School/Deep Learning/Anaconda/env/deep_learning/Cat-vs-Dog-CNN/tham khao/kagglecatsanddogs_5340.zip
Learning/School/Deep Learning/Anaconda/env/deep_learning/Cat-vs-Dog-CNN/tham khao/archive.zip